# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [1]:
4400/20

220.0

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는

In [2]:
a = 4400/30
b = int(a)
c = 4400 - b * 30
print(a)
print(b)
print(c)

146.66666666666666
146
20

146.66666666666666
146
20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [3]:
def average(*args) :
    sum = 0
    avg = 0
    for i in args :
        sum = sum + i
        avg = sum/len(args)
    return avg
average(55,80,75,80)

72.5

72.5

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [8]:
korean = input("한국어 점수를 입력해주세요!!!")
math = input("수학 점수를 입력해주세요!!!")
english = input("영어 점수를 입력해주세요!!!")
society = input("사회 점수를 입력해주세요!!!")
print('4과목 평균 점수 : ',average(int(korean),int(math),int(english),int(society)))

한국어 점수를 입력해주세요!!!1
수학 점수를 입력해주세요!!!2
영어 점수를 입력해주세요!!!3
사회 점수를 입력해주세요!!!4
4과목 평균 점수 :  2.5

In [4]:
korean = input("한국어 점수를 입력해주세요!!!")
~~~

한국어 점수를 입력해주세요!!!1
수학 점수를 입력해주세요!!!!2
영어 점수 입력해주세요!!!!3
사회 점수 입력해주세요1!!4
4과목 평균 점수 : 2.5

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [10]:
isodd = input("홀짝을 판단하고자 하는 수를 입력하세요!!!")
a = int(isodd)
if a%2==0 :
    print(True)
else :
    print(False)

홀짝을 판단하고자 하는 수를 입력하세요!!!34
True

홀짝을 판단하고자 하는 수를 입력하세요!!!34
True

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [12]:
a = [1,2,3,4,5]
a.insert(2,"hello")
a.append("Hi")
a.append("Monday")
print(a)

[1, 2, 'hello', 3, 4, 5, 'Hi', 'Monday']

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [13]:
10/2 == 210/3

False

False

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [14]:
12345%4 == 54321%2

True

True

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [118]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
print(a)
print(a[3][3][1][1])

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [38]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
b = []
print('1)',a[0:len(a)])
print('2)',a[0:4])
print('3)',a[3:len(a)])
print('4)',a[1:5])

for i in range(0,len(a)) :
    if i%2 == 1 :
        b.append(a[i])
    
print('5)',b[0:len(b)])

print('6)',a[:10:3])

1) ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
2) ['a', 'b', 'c', 'd']
3) ['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
4) ['b', 'c', 'd', 'e']
5) ['b', 'd', 'f', 'h', 'j', 1, 3, 5]
6) ['a', 'd', 'g', 'j']

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [48]:
a = {"A":90, "B":80,"C":70 }
a["B"]

80

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [81]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
b = list(a.values())
Max = b[0]
Min = b[0]

for i in range(0,len(b)) :
    if b[i] > Max :
        Max = b[i]

for j in range(0,len(b)) :   
    if b[j] < Min :
        Min = b[j]

print(Min)
print(Max)

10
85

10
85

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [80]:
c = list(a.keys())
for i in range(0,len(b)) :
    if b[i] == Max :
            print("최고점 :",c[i])
for i in range(0,len(b)) :
    if b[i] == Min :
            print("최저점 :",c[i])

최고점 : E
최저점 : C

최고점 :  E
최저점 :  C

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [84]:
for i in range(1,21) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [85]:
for i in range(1,21):
    print("hello_",i)

hello_ 1
hello_ 2
hello_ 3
hello_ 4
hello_ 5
hello_ 6
hello_ 7
hello_ 8
hello_ 9
hello_ 10
hello_ 11
hello_ 12
hello_ 13
hello_ 14
hello_ 15
hello_ 16
hello_ 17
hello_ 18
hello_ 19
hello_ 20

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

In [129]:
a = ["one","two","three","four"]
b = []
for i in a :
    b.append(i+str(a.index(i)+1))
print(b)

['one1', 'two2', 'three3', 'four4']

In [124]:
a = ["one","two","three","four"]
b = []
for i in range(0,len(a)) :
    b.append(a[i]+str(i+1))
print(b)

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

In [143]:
a=[10,20,30,40]
b=[50,20,10,13]
def average(list) :
    sum = 0
    avg = 0
    for i in list :
        sum = sum + i
    avg = sum/len(list)
    return avg
print(average(a))
print(average(b))

25.0
23.25

46.0
46.0

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

In [151]:
a = ["Life", "is","too", "short", "you","need","python"]
print(a[4]+" "+a[2])

you too

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

In [153]:
a = ["Life", "is", "too","short"]
print(a)
print(a[0]+" "+a[1]+" "+a[2]+" "+a[3])

['Life', 'is', 'too', 'short']
Life is too short

['Life', 'is', 'too', 'short']
Life is too short

In [155]:
a = ["Life", "is", "too","short","1","2","3","4","5"]
result = " ".join(a)
print(result)

Life is too short 1 2 3 4 5

In [154]:
# 참고) join은 전체에 대한 것!
a = ["Life", "is", "too","short","1","2","3","4","5"]
result = " ".join(a)
print(result)

Life is too short 1 2 3 4 5

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [157]:
a = [1,2,3,4,5,6]
len(a)

6

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!(remove사용)

In [161]:
a = [ 1,2,3,4,5]
a.remove(2)
a.remove(4)
print(a)

[1, 3, 5]

[1, 3, 5]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [165]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
if a>0 :
    print("a는 양수다!!!")
elif a==0 :
    print("a는 0이다!!!!!!!!!!!!!")
elif a<0 :
    print("a는 음수다!!!!!!!!!!!!")

0,양수,음수 판단할 수를 입력해 주세요!!!!!-1
a는 음수다!!!!!!!!!!!!

In [24]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
~~~

0,양수,음수 판단할 수를 입력해 주세요!!!!!-2
a는 음수다!!!!

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

In [167]:
a = int(input("홀짝을 판단하고자 하는 수를 입력하세요!!!"))
if a%2 == 1 :
    print("입력하신 수는 홀수입니다.")
else :
    print("입력하신 수는 짝수입니다.")

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다.

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
이상해요1!!!!

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

In [171]:
money = 5000
card = False
if card==True or money>=4000 :
    print("갈수있다.")
else :
    print("갈수없")

갈수있다.

갈 수 있다!!!!

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

In [4]:
a = int(input("자리수를 판단하고자 하는 자연수를 입력하세요!!!"))
if a > 10000 :
    print("범위를 벗어났습니다.")
elif a > 1000 :
    print("네자리 修")
elif a > 100 :
    print("세자리 修")
elif a > 10 :
    print("두자리 修")
elif a >= 1 :
    print("한자리 修")
else :
    print("범위를 벗어났습니다.")

자리수를 판단하고자 하는 자연수를 입력하세요!!!10000000
범위를 벗어났습니다.

세자리 修

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

In [7]:
a = 10
b = 20
print("처음 입력 :",a)
print("두번째 입력 :",b)
temp = a
a = b
b = temp
print("변화된 a값 :",a)
print("변화된 b값 :",b)

처음 입력 : 10
두번째 입력 : 20
변화된 a값 : 20
변화된 b값 : 10

처음 입력20
두번째 입력30
변화된 a값: 30
변화된 b값: 20

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

In [7]:
a = float(input("입력하세요[kg]!!!"))
print(int(a*1000),"g")

입력하세요[kg]!!!1
1000 g

입력하세요[kg]!!!1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

In [9]:
a = int(input("입력하세요[g]!!!"))
print(float(a/1000),"kg")

입력하세요[g]!!!1232134
1232.134 kg

입력하세요[g]!!!1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

In [10]:
a = int(input("첫번째 입력하세요!!!"))
b = int(input("두번째 입력하세요!!!"))
c = int(input("세번째 입력하세요!!!"))
if a >= b and a >= c :
    print(a)
elif b >= a and b >= c :
    print(b)
else :
    print(c)

첫번째 입력하세요!!!1
두번째 입력하세요!!!2
세번째 입력하세요!!!3
3

20

* Q) 1부터 100까지 합!!!!

In [11]:
sum = 0
for i in range(1,101) :
    sum = sum + i
print(sum)

5050

5050

* Q) 1부터 100까지 곱!!

In [12]:
mul = 1
for i in range(1,101) :
    mul = mul * i
print(mul)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

In [14]:
a = [90, 80,35,24,65,74,93]
for i in a :
    if i >= 60 :
        print(a.index(i)+1)

1
2
5
6
7

1
2
5
6
7

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [15]:
a = ["A","B","A","O","AB","AB","O","A","B","AB"]
d = 0
e = 0
f = 0
g = 0

for i in a :
    if i == "A" :
        d = d+1
    elif i == "B" :
        e = e+1
    elif i == "O" :
        f = f+1
    elif i == "AB" :
        g = g+1

print("A형 :",d)
print("B형 :",e)
print("O형 :",f)
print("AB형 :",g)

A형 : 3
B형 : 2
O형 : 2
AB형 : 3

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

In [16]:
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
for i in a : 
    if i%2 == 1 :
        print(i*3)

3
9
15
21
27
33

3
9
15
21
27
33

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [20]:
for i in range(2,10) :
    for j in range(1,10) :
        print(str(i)+"x"+str(j)+"="+str(i*j))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

* Q) 100 까지 소수를 모두 찾아보세요!!!!

In [51]:
for i in range(2,101) :
    count = 0
    for j in range(1,i) :
        if i%j == 0 :   
            count = count + 1
    if count == 1 :
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

In [54]:
# 1 ~ 24까지 둘다 나눠봐서 나눠지는 것 구하고 리스트 생성 그리스트에서 최댓값 구하기
a = []
for i in range(1,24) :
    if 54%i == 0 and 24%i==0 :
            a.append(i)
max = 0 
for i in a:
    if i>max :
        max = i
            
print(a)
print(max)

[1, 2, 3, 6]
6

*Q) @@@@@ 을 출력하세요!!!

In [55]:
print("@"+"@"+"@"+"@"+"@")

@@@@@

In [56]:
print("@"*5)

@@@@@

In [57]:
for i in range(5):
    print("*",end="")

*****

In [58]:
for i in range(5):
    print("@", end="")

@@@@@

In [60]:
num = int(input("반복할 수를 입력하세요!!!!"))

for i in range(num):
    print("@", end="")

반복할 수를 입력하세요!!!!2
@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [65]:
for i in range(0,4) :
    for j in range(0,5) :
        print("@",end="")
    print("")

@@@@@
@@@@@
@@@@@
@@@@@

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요

In [67]:
for i in range(0,6):
    for j in range(0,i):
        print("@",end="")
    print("")

@
@@
@@@
@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

In [71]:
for i in range(0,5):
    for j in range(0,i):
        print(" ",end="")
    for j in range(0,5-i):
        print("@",end="")
    print("")

@@@@@
 @@@@
  @@@
   @@
    @

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [ ]:
1줄 : 5개 찍기
2줄 : 4개 찍기
3줄 : 3개 찍기
4줄 : 2개 찍기
5중 : 1개 찍기

In [ ]:
힌트   

@@@@*
@@@**
@@***
@****
*****

@@@@@
 @@@@
  @@@
   @@
    @

In [97]:
for i in range(0,6):
    for j in range(0,6-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("@",end="")
    print("")

     @
    @@@
   @@@@@
  @@@@@@@
 @@@@@@@@@

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

In [98]:
for i in range(0,6):
    for j in range(0,6-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("@",end="")
    print("")

     @
    @@@
   @@@@@
  @@@@@@@
 @@@@@@@@@

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

     @
    @@@
   @@@@@
  @@@@@@@
 @@@@@@@@@

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

In [106]:
for i in range(0,6):
    for j in range(0,i):
        print(" ",end="")
    for j in range(0,2*(6-i)-1):
        print("@",end="")
    print("")

@@@@@@@@@@@
 @@@@@@@@@
  @@@@@@@
   @@@@@
    @@@
     @

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

In [113]:
for i in range(0,10):
    for j in range(0,i):
        print(i,end="")
    print("")

1
22
333
4444
55555
666666
7777777
88888888
999999999

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) * Q) 1부터 50까지에서 3의 배수에는 three, 5의 배수에는 five, 3과 5의 공배수에는 three-five를 출력하세요   
1  
2  
three  
4  
five  
...
14  
three-five
16
...

In [115]:
for i in range(1,50) :
    if i%3==0 and i%5==0 :
        print("three-five")
    elif i%3==0 :
        print("three")
    elif i%5==0 :
        print("five")    
    else :
        print(i)

1
2
three
4
five
three
7
8
three
five
11
three
13
14
three-five
16
17
three
19
five
three
22
23
three
five
26
three
28
29
three-five
31
32
three
34
five
three
37
38
three
five
41
three
43
44
three-five
46
47
three
49

* Q) 입력 : 월/일 의 2개의 정보를 받아서, 어느 계절인지 나타내어라!!
(예 : 3월 12일 --> 봄, 12월 24일 --> 겨울)
(단, 봄:3~5, 여름:6~8, 가을 9~11, 겨울 12~2)

In [2]:
a = int(input("월을 입력하세요"))
b = int(input("일을 입력하세요"))

if a == 12 :
    print("겨울입니다.")
elif a >=9 :
    print("가을입니다.")
elif a >=6 :
    print("여름입니다.")
elif a >=3 :
    print("봄입니다.")
elif a <=2 :
    print("겨울입니다.")

월을 입력하세요1
일을 입력하세요2
겨울입니다.

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

In [2]:
a = int(input("점수를 입력하세요"))
if a >= 90 :
    print("참 잘했습니다.")
elif a >= 80 :
    print("잘 했습니다.")
elif a >= 60 :
    print("좀 더 노력하세요.")
elif a >= 40 :
    print("재수강을 권장합니다.")
elif a < 40 :
    print("꼭 다시 들으세요!!!.")

점수를 입력하세요1
꼭 다시 들으세요!!!.

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

In [4]:
a = int(input("x의 값을 입력하세요"))
b = int(input("y의 값을 입력하세요"))
if a<=100 and a>=50 and b<=80 and b>=40 :
    print("안에 있습니다.")
else : 
    print("밖에 있습니다.")

x의 값을 입력하세요10
y의 값을 입력하세요22
밖에 있습니다.

x의 값을 입력하세요10
y의 값을 입력하세요22
밖에 있습니다.

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

In [12]:
a = input("입력하세요!!!")
sum = 0
for i in range(0,len(a)) :
    sum = sum + int(a[i])
print(sum)

입력하세요!!!2345
14

입력하세요!!!2345
14

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

In [17]:
sum = 1
for i in range(1,int(100/3)) :
    sum = sum + int((100-i)/2)-i+1
print(sum)

833

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [26]:
count1=0
count2=0
count3=0
count4=0
count5=0
count6=0
count7=0
count8=0
count9=0

for i in range(1,100) :
    for j in range(0,len(str(i))) :
        if a[j] == 1 :
            count1 = count1+1 
        elif a[j] == 2 :
            count2 = count2+1
        elif a[j] == 3 :
            count3 = count3+1
        elif a[j] == 4 :
            count4 = count4+1
        elif a[j] == 5 :
            count5 = count5+1
        elif a[j] == 6 :
            count6 = count6+1
        elif a[j] == 7 :
            count7 = count7+1
        elif a[j] == 8 :
            count8 = count8+1
        elif a[j] == 9 :
            count9 = count9+1
        elif a[j] == 0 :
            count0 = count0+1
        else :
            pass

        
for i in range(0,9) :
    print(str(i)+" : "+"count"+i)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [22]:
a = [20,55,67,82,45,33,90,87,100,25]

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

* Q)1부터 100까지 3의 배수들의 합!!!!! while

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!!

In [4]:
from random import randint

9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 1
Ball: 0 Strike: 2
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 8
세번째 숫자를 입력하세요: 7
Ball: 2 Strike: 1
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 8
Game End

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [4]:
import random

# 게임을 위한 랜덤 숫자 생성
rn = random.randrange(1, 101, 1)

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 : 30
Down
1 ~ 100 사이의 숫자를 입력하세요 : 155
Down
1 ~ 100 사이의 숫자를 입력하세요 : 15
Down
1 ~ 100 사이의 숫자를 입력하세요 : 8
Down
1 ~ 100 사이의 숫자를 입력하세요 : 4
Down
1 ~ 100 사이의 숫자를 입력하세요 : 2
---------------------------
6 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

입력하세요!!!10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [2]:
encryfunc("010-1234-5678")

'*********5678'

In [3]:
encryfunc("01034565678")

'*******5678'

* Q) 연습문제 : computepay라는 함수를 만들어서, 근무 시간과 초과근무 시 비율을 입력하고, 월급을 계산하는 함수를 만드세요!!(월 기준으로 8시간 * 5일 * 4주 =160시간이 기준, 160시간까지는 1시간당 월급이 1만원, 초과 근무 시 비율이 만약에 50%라면 1.5만원, 초과 근무 시 비율이 30%라면 1.3만원)     
예 : computpay(170, 50) --> 160 X 1 + 10 X 1 X 1.5 (원)

In [5]:
tom = computepay(200, 60)
print(tom)

2240000.0